.container {
  height: 40px;
  padding-top: 9px;
  box-sizing: border-box;
}

.item {
  display: inline-block;
  line-height: 22px;
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
  cursor: pointer;
}

.selected {
  color: red;
}

.item:hover {
  color: #999;
}

.login {
  float: right;
}
